name: "Production Pipeline"

on:
  push:
    branches:
      - master

jobs:
  infrastructure:
    name: "Terraform Apply"
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./terraform
    permissions:
      contents: read
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: "us-east-2"
      TF_VAR_db_password: ${{ secrets.DB_PASSWORD }}
      TF_VAR_aws_region: "us-east-2"
      TF_INPUT: "0"
    outputs:
      run_tf: ${{ steps.filter.outputs.terraform }}
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            terraform:
              - 'terraform/**'

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: ./terraform

      - name: Terraform Apply
        if: steps.filter.outputs.terraform == 'true'
        working-directory: ./terraform
        run: terraform apply -auto-approve

  deploy:
    name: "Nexus Deploy to Elastic Beanstalk"
    runs-on: ubuntu-latest
    needs: infrastructure
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: 'npm'

      - name: Install
        run: |
          npm install

      - name: Run Prisma Migrations
        run: npm run prisma:migrate:prod
        env:
          DATABASE_URL: postgresql://nexus_admin:${{ secrets.DB_PASSWORD }}@nexus-db-instance.cveuqi0y4mcz.us-east-2.rds.amazonaws.com/nexus_db

      - name: Build and Generate Client
        run: |
            npm run prisma:generate
            npm run build

      - name: Create Deployment Package
        run: zip -r deploy.zip . -x "*.git*" "node_modules/*" "terraform/*"

      - name: Deploy to Elastic Beanstalk
        uses: einaregilsson/beanstalk-deploy@v22
        with:
          aws_access_key: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws_secret_key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          application_name: "nexus-app"
          environment_name: "nexus-app-env"
          version_label: "v-${{ github.sha }}"
          region: "us-east-2"
          deployment_package: deploy.zip